
<tr>
  <td height="100%" valign="top" bgcolor="">
    <div class="confirmation-section__title some">
      <%= I18n.t("mailer.register_complete.subject", name: html_escape(@name)).html_safe %>
    </div>
    <br />
