
<tr>
  <td height="100%" valign="top" bgcolor="">
    <div class="confirmation-section__title some">
      <%= I18n.t("mailer.welcome.subject", name: html_escape(@name)).html_safe %>
    </div>
    <br />
<%= link_to I18n.t('mailer.welcome.confirmation_link'),
            @confirmation_url,
            target: "_blank" %>